@import "font-awesome.min.css";
// @import "willamette_type3_color3.css";
@import "variables.scss";
@import "nav.scss";
@import "home.scss";
@import "post.scss";
@import "footer.scss";  
@import "mobile.scss"; 

body{
	font-family: "karmina",serif !important;
	letter-spacing: .02rem;
	font-size: 16px;
}

p, span{
	font-size: 1.1rem;
}


$small: 0px;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;


$gray: #F1F1F1;
$dark: #272727;
$white: #FFFFFF;
$accent: #1E88E5;

*{
	font-family: "karmina",serif !important;
	letter-spacing: 0.01em;
	color: $dark !important;
}
ul, li, button, textarea, input, blockquote{
	font-family: "karmina",serif !important;
	letter-spacing: 0.01em;
	font-size: 1.5000em; /* 18px */
	line-height: 1.2500em !important;
	margin-top: 1.0000em;  
	margin-bottom: 0.0000em;
}
body {
  width: 100%;
  height: 100%;
  font-size: 12px;
  background: $gray !important;
}



hr{
	border-top: 1px solid #b2b2b2 !important;
}

blockquote{
	font-style: italic;
}

.technologiesList{
	float: left;
}

h1 {
  font-size: 2.0000em; /* 24px */
  line-height: 1.5000em; /* 36px */
  margin-top: 0.7500em;  
  margin-bottom: 0.0000em;
  letter-spacing: 0.05em;
  font-weight: 700 !important;
}

h2 {
  font-size: 1.8333em; /* 22px */
  line-height: 1.6364em; /* 36px */
  margin-top: 0.8182em;  
  margin-bottom: 0.0000em;
  font-weight: 700 !important;
}

h3 {
  font-size: 1.6667em; /* 20px */
  line-height: 1.8000em; /* 36px */
  margin-top: 0.9000em;  
  margin-bottom: 0.0000em;
  font-weight: 700 !important;
}

p {
  font-size: 1.5000em; /* 18px */
  line-height: 1.2500em !important;
  margin-top: 1.0000em;  
  margin-bottom: 0.0000em;
}

a{
	transition: all .2s ease;
	color: $accent !important;
	
}

.row{
	max-width: 1200px !important;
}


/* Desktop + */
@media only screen and (min-width: $xlarge) and (max-width: $xxlarge){
	h1 {
	    font-size: 3em !important;
	    line-height: 1.05 !important;
	}
	h2 {
	    font-size: 2em !important;
	    line-height: 1.25 !important;
	}
	h3 {
	    font-size: 1.75em !important;
	    line-height: 1.25 !important;
	}
	p {
	  font-size: 1.5000em; /* 18px */
	  line-height: 1.2500em !important;
	  margin-top: 1.0000em;  
	  margin-bottom: 0.0000em;
	}
}

/* Tablet */

@media only screen and (max-width: $large) {
	h1 {
	    font-size: 2.5em !important;
	    line-height: 1.125 !important;
	}
	h2 {
	    font-size: 2em !important;
	    line-height: 1.25 !important;
	}
}

/* Mobile + */

@media only screen and (min-width: $small) and (max-width: $medium) {
	h1 {
	    font-size: 2.5em !important;
	    line-height: 1.125 !important;
	}
	h2 {
	    font-size: 2em !important;
	    line-height: 1.25 !important;
	}
	h1 {
	  font-size: 2.0000em !important; /* 24px */
	  line-height: 1.5000em !important; /* 36px */
	  margin-top: 0.7500em;  
	  margin-bottom: 0.0000em;
	  letter-spacing: 0.05em !important;
	  font-weight: 700 !important;
	}

	h2 {
	  font-size: 1.8333em !important; /* 22px */
	  line-height: 1.6364em !important; /* 36px */
	  margin-top: 0.8182em;  
	  margin-bottom: 0.0000em;
	}

	h3 {
	  font-size: 1.6667em !important; /* 20px */
	  line-height: 1.8000em !important; /* 36px */
	  margin-top: 0.9000em;  
	  margin-bottom: 0.0000em;
	}

	p {
	  font-size: 1.5000em !important; /* 18px */
	  line-height: 1.2500em !important; /* 18px */
	  margin-top: 1.0000em;  
	  margin-bottom: 0.0000em;
	}


	#companyName{
		margin-top: 30px;
		letter-spacing: .15em !important;
	}
}