/*IMPORTS & GLOBAL -----------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

@import 'foundation.min.css';

body {
  font-family: karmina,serif;
  color: #272727;
  background: #F1F1F1;
  width:100%;
  font-size:100%;
  letter-spacing:.01em;
}

* {
  letter-spacing:.01em;
}

h1, h2, h3, h4, h5, h6 {
  font-family:karmina,serif;
  font-weight:700;
  line-height:1.5;
}

h1 {
  font-size:2em;
}

h2 {
  font-size:1.8333em;
  line-height:1.6364em;
}

p {
  font-size:1.5em;
  line-height:1.25em;
}

a {
  color:#1E88E5;
  font-size:1.5em;
  line-height:1.25em;
}

a:focus, a:hover {
  color:#1E88E5;
  text-decoration:none;
}

.content {
  margin-top: 20px;
  padding: 40px;
}

hr {
  margin:0px;
}



/*NAV -----------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

#logo {
  margin-top: 15px;
  min-width: 50px;
  max-width: 100px; 
}

#companyName {
  margin-top: 30px;
  letter-spacing: .15em;
}

nav li {
  list-style:none;
  display:inline;
  margin-right:1.5em;
}

nav li.active {
  opacity:.7;
}



/*SITE OF THE DAY (HOME) -----------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

.postheroimage a {
  font-size:inherit;
}

.postheroimage a img {
  border: .75rem solid #272727;
  margin-top:3em;
}

.postcontent {
  margin-top:.8125em;
  padding-bottom:2.1875em;
}

.postcontent a {
  border-bottom: 1px solid #272727;
  box-shadow: inset 0 -4px 0 #272727;
  transition: background 0.4s ease-out;
}

.postcontent a:hover {
  background: #272727;
}

.postdate {
  float:right;
}

.posttags {
  margin-top:.6875em;
  padding-bottom: .8125em;
  margin-bottom:0px;
}

.posttags a {
  font-size:inherit;
}

.paginate {
  text-align:center;
}

.paginate a {
  margin:0rem .5625em;
}



/*BLOG PAGE -----------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

.blogpage .postheroimage {
  padding-bottom:2.625rem;
}

.blogpage .postheroimage img {
  margin-top:0px;
}

.blogpage .postcontent {
  margin-bottom:1.3125em;
  padding-bottom:0px;
}

.blogpage .postcontent h2 {
  font-size:2.25em;
  line-height:1.3em;
}

.blogpage .postcontent h2 a {
  font-size:inherit;
  padding-top:3px;
}

.blogpage .postdate {
  float:none;
}

.blogpage hr {
  margin-bottom:3em;
}

.blogpage .paginate {
  margin-top:3em;
}



/*DOWNLOADS PAGE -----------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

.downloads .postcontent a {
  display:inline-block;
  margin-bottom:1rem;
}

.subtitle {
  margin-top: .6875em;
  padding-bottom: .8125em;
  margin-bottom: 0px;
}



/*THEME RECOMMENDATIONS & LISTS PAGE -----------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

.recommendations .postcontent {
  text-align: center;
}



/*FOOTER -----------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

.footer .content {
  margin-top:0px;
  padding-top:0px;
}

.footer h2 {
  margin-top:.6875em;
}

.footer a {
  display:block;
}



/*DETAIL SHARED -----------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

.detail .postcontent {
  margin-bottom:1.3125em;
  padding-bottom:0px;
}

.detail h2 {
  font-size:2.25em;
  line-height:1.3em;
}

.detail h2 a {
  font-size:inherit;
  padding-top:3px;
}



/*DETAIL SITE OF THE DAY -----------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

.detailsiteoftheday .postheroimage {
  padding-bottom:2.625rem;
}

.detailsiteoftheday .postheroimage img {
  margin-top:0px;
}

.detailsiteoftheday .postdate {
  float:none;
  margin-bottom:0px;
}

.detailsiteoftheday .posttags {
  padding-bottom:0px;
  margin-top:0px;
}



/*DETAIL BLOG -----------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

.detailblog .postdate {
  float:none;
  display:inline-block;
}

.by {
  display:inline-block;
  padding-right:.2em;
}



/*DETAIL DOWNLOADS -----------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

.detaildownloads .content {
  background:#272727;
  color:#FFFFFF;
  text-align:center;
}

.by {
  display:inline-block;
  padding-right:.2em;
}

.body {
  text-align:left;
}

.detaildownloads .postcontent a {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: inset 0 -4px 0 #FFFFFF;
  transition: background 0.4s ease-out;
}

.detaildownloads .postcontent a:hover {
  background: #FFFFFF;
}



/*MOBILE -----------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

/*iPhone 6 Plus Vertical*/

@media screen and (max-width: 414px) {
    nav li {
        display:block;
    }
}